*{
	margin:0;
	padding:;
}
#banner{
	background :linear-gradient(rgba(0,0,0,0.5),#000), url(images/download.jpg);
	background-size : cover;
	background-position : center;
	height: 100vh;	
}
.logo{
	width:140px;
	position: absolute;
	top:4%;
	left:10%;
}
.banner-text{
	text-align:center;
	color: #fff;
	padding-top:180px;
}
.banner-text h1 {
	font-size:130px;
}
.banner-text p{
	font-size:20px;
	font-style: italic;
}
.banner-btn{
	margin: 70px auto 0;
}
.banner-btn a{
	width:150px;
	text-decoration :none;
	display:inline-block;
	margin:0 10px;
	padding:15px 0;
	background-color:#f0f0f0;
	color: #0f0f0f;
	border-radius: 35px;
	border:.5px  solid #fff;
}
.banner-btn a:hover{
	 background: transparent;
  border-color: #fff;
}


#sideNav{
	width:250px;
	height:100vh;
	position:fixed;
	right:0px;
	top:0;
	background: #000;
	z-index:2;
	transition: 0.5s;
}
nav ul li{
	list-style:none;
	margin:50px 20px;
}
nav ul li a{
	text-decoration:none;
	color: #fff;
}
#menuBtn{
	width:50px;
	height:50px;
	background:#000;
	text-align:center;
	position:fixed;
	right:30px;
	top:20px;
	border-radius:3px;
	z-index:3;
	cursor:pointer;
}
#menuBtn img{
	width:20px;
	margin-top:15px;
}

@media screen and (max-width:770px){
	.banner-text h1 {
	font-size:44px;
	}
	.banner-btn  a{
		display:block;
		margin: 20px auto;
	}
	
}

/*--feature--*/

#feature{
	width:100%;
	padding:70px 0;
}
.title-text{
	text-align:center;
	padding-bottom:70px;
}
.title-text p{
	margin:auto;
	font-size:20px;
	color:#000;
	font-weight:bold;
	position:relative;
	z-index:1;
	display:inline-block;
}
.title-text p::after{
	content: '';
	width: 50px;
	height: 35px;
	background: linear-gradient(#019587,#fff);
	position: absolute;
	top: -20px;
	left: 0;
	z-index: -1;
	transform : rotate(10deg);	
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
}
.title-text h1{
	font-size:50px;
}
.Feature-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap:Wrap;
	align-items:center;
	text-align: center;	
}
.features{
	flex-basis: 50%;
	
}
.features-img{
	flex-basis: 50%;
	margin: auto;
}
.features-img img{
	width:70%;
	border-radius: 10px;
}
.features h1{
	text-align:left;
	margin-bottom:10px;
	font-weight:100;
	color:#000;
}
.feature-desc{
	display:flex;
	align-items:center;
	margin:40px;
}
.feature-icon .fa{
	width:50px;
	height:50px;
	font-size:30px;
	line-height:50px;
	border-radius:8px;
	color:#000;
	border: 1px solid #000;
}
.feature-text p{
	padding: 0 20px;
	text-align:initial;
}
@media screen and (max-width:770px){
	.title-text h1{
	font-size:35px;
	}
	.features{
	flex-basis: 100%;
	
	}
	.features-img{
	flex-basis:100%;
	}
	.features-img img{
	width:100%;
	}
	
}


/*--service--*/

#service{
	width:100%;
	padding:70px 0;
	background: #efefef;
}
.service-box{
	width:80%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin: auto;
}
.single-service{
	flex-basis: 48%;
	text-align:center;
	border-radius:7px;
	margin-bottom: 20px;
	color: #fff;
	position:relative;
}
.single-service img{
	width:100%;
	border-radius:7px;
}
.overlay{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	border-radius:7px;
	cursor:pointer;
	background:linear-gradient(rgba(0,0,0,0.5),#000);
	opacity:0;
	transition: 1s;
}
.single-service:hover .overlay{
	opacity:1;
}
.service-desc{
	width:80%;
	position:absolute;
	bottom:0;
	left:50%;
	opacity:0;
	transform: translatex(-50%);
	transition:1s;
}
hr{
	background:#fff;
	height:2px;
	border:0px;
	margin:15px auto;
	width:60%;
}
.service-desc p{
	font-size:14px;
}
.single-service:hover .service-desc{
	bottom: 40%;
	opacity:1;
}
@media screen and (max-width:770px){
	.single-service{
		flex-basis:100%;
		margin-bottom:30px;
	}
	.service-desc p{
	font-size:12px;
	}
	hr{
		margin:5px auto;
	}
	.single-service:hover .service-desc{
	bottom: 25% !important;
	}
}


/*--Appointment--*/

#appointment{
	width:100%;
	padding:70px 0;
}
.appointment .php-email-form {
  width: 80%;
}

.appointment .php-email-form .form-group {
  padding-bottom: 8px;
}

.appointment .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.appointment .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .error-message br + br {
  margin-top: 25px;
}

.appointment .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.appointment .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.appointment .php-email-form input, .appointment .php-email-form textarea, .appointment .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px !important;
}

.appointment .php-email-form input:focus, .appointment .php-email-form textarea:focus, .appointment .php-email-form select:focus {
  border-color: #3fbbc0;
}

.appointment .php-email-form input, .appointment .php-email-form select {
  height: 44px;
}

.appointment .php-email-form textarea {
  padding: 10px 12px;
}

.appointment .php-email-form button[type="submit"] {
  background: #3fbbc0;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.appointment .php-email-form button[type="submit"]:hover {
  background: #52c2c6;
}


/*--testimonial--*/

#testimonial {
	width:100%;
	padding:70px 0;
}
.testimonial-row{
	width:80%;
	margin:auto;
	display:flex;
	justify-content:space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.testimonial-col{
	flex-basis:28%;
	padding:10px;
	margin-bottom:30px;
	border-radius:5px;
	box-shadow: 0 10px 20px 3px #00014;
	cursor:pointer;
	transition: transform.5s;
}
.testimonial-col p{
	font-size:14px;
}
.user{
	display:flex;
	align-items:center;
	margin:20px 0;
}
.user img{
	width:40px;
	margin-right:20px;
	border-radius:3px;
}
.user-info .fa {
	margin-left:10px;
	color:#27c0ff;
	font-size:20px;
}
.user-info small{
	color:#000
}
.testimonial-col:hover{
	transform: translatey(7px);
}
@media screen and (max-width:770px){
	.testimonial-col{
		flex-basis:100%;
	}
}

/*--footer--*/
#footer{
	padding:100px 0 20px;
	background:#efefef;
	position:relative;
}
.footer-row{
	width:80%;
	margin:0 auto;
	display:flex;
	justyfy-content:space-between;
	flex-wrap:wrap;
}
.footer-left,.footer-right{
	flex-basis:45%;
	padding:10px;
	margin-bottom:20px;
}
.footer-right{
	text-align:right;
}
.footer-row h1{
	margin:10px o;
}
.footer-row p{
	line-height:35px;
}
.footer-left .fa,.footer-right .fa{
	font-size:20px;
	color:#000;
	margin:10px;
}
.footer-img{
	max-width:370px;
	opacity:0.1;
	position:absolute;
	left:50%;
	top:35%;
	transform:translate(-50%,-50%);
}
.social-links{
	text-align:center;
}
.social-links .fa{
	height:40px;
	width:40px;
	font-size:20px;
	line-height:40px;
	border: 1px solid #000;
	margin:40px 5px 0;
	color:#000;
	cursor:pointer;
	transition:.5s;
}
.social-links .fa:hover{
	background:#000;
	color:#fff;
	transform:translateY(-7px);
}
.social-links p{
	font-size:12px;
	margin-top:20px;
}
@media screen and (max-width:770px){
	.footer-left,.footer-right{
		flex-basis:100%;
		font-size:14px;
	}
	.footer-img{
		top:25%;
	}
}
